*.log
__pycache__/
*.pkl
bin
notebooks/.ipynb_checkpoints/
*.swp
scripts/pingviewer-x86_64.AppImage
*.pyc
*.avi
sim/pybullet_data
*.json
sim/meshes
*.pkl
.idea/
hw/.idea/
*.ubx
hw/gps_listener_sfrbx_data.ubx

